/* *====================== MAIN PAGINA RESULTADOS ======================= */
.mainResultadosPage{
    display: flex;
    flex-direction: column;
    .main__select{
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        text-align: center;
        overflow-x: scroll;
        &::-webkit-scrollbar{
            height: 0.5rem;
            border: solid black 0.5rem;
        }
        &::-webkit-scrollbar-thumb{
            background-color: red;
            border-radius: 1rem;
        }
        .main__select--title--text{
            width: 100%;
            position: absolute;
        }
        .main__select--carrera{
            display: flex;
            flex-wrap: wrap;
            padding: 1rem;
            justify-content: space-evenly;
            width: max-content;
            margin-top: 5%;
            user-select: none;
            .main__select--carrera--flag{
                margin-right: 1rem;
                width: 100px;
                & a{
                    & img{
                        width: 100%;
                        border-radius: 0.5rem;
                        box-shadow: 0 0 15px 0.1px black;
                        transition: linear 0.2s;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
                & h5{
                    margin-top: 0.5rem;
                    font-size: 1rem;
                }
                & h6{
                    font-size: 0.8rem;
                }
            }
        }
    }
    
    .main__resultados{
        width: 90%;
        height: 90vh;
        margin: auto;
        margin-bottom: 5%;
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-areas: 
        "circuit posTable"
        ;
        border: solid 0.2rem red;
        border-radius: 1rem;
        box-shadow: 0 0 15px 3px red;
        
        .main__resultados--circuitName{
            grid-area: circuit;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-top-left-radius: 0.8rem;
            border-bottom-left-radius: 0.8rem;
    
            .main__resultados--circuitName--text{
                margin: 1rem;
                text-align: center;
                & h3{
                    color: white;
                    font-style: italic;
                    font-size: 2rem;
                }
                .suspendida{
                    color: red;
                }
            }
    
            .main__resultados--circuitName--img{
                justify-content: center;
                text-align: center;
                & img{
                    width: 50%;
                    border-radius: 1rem;
                }
            }
        }

        .main__resultados--tabla{
            grid-area: posTable;
            &::-webkit-scrollbar{
                width: 0.8rem;
            }
            &::-webkit-scrollbar-thumb{
                background-color: red;
                border-radius: 1rem;
            }
            .main__resultados--tabla--datos{
                text-align: center;
                margin: 0;
                & thead{
                    color: red;
                    vertical-align: middle;
                }
                & tbody{
                    vertical-align: middle;
                }
                .vueltaRapida{
                    color: rgba(171, 39, 204);
                }
            }
        }

        /* fondos segun carrera */
        .bgBahrein{
            background-image: $fondoBahrein;
        }
        .bgArabia{
            background-image: $fondoArabia;
        }
        .bgAustralia{
            background-image: $fondoAustralia;
        }
        .bgBaku{
            background-image: $fondoBaku;
        }
        .bgMiami{
            background-image: $fondoMiami;
        }
        .bgImola{
            background-image: $fondoImola;
        }
        .bgMonaco{
            background-image: $fondoMonaco;
        }
        .bgEspania{
            background-image: $fondoEspania;
        }
    }

    .carreraDisabled{
        filter: brightness(30%);
    }
}