@media screen and (min-width: 997px){ /* a partir de este punto aparecen bien los links */
    /* =====================header */
    .header__navbar{
        height: 5rem;
    }
}

@media screen and (max-width: 1330px) {
    /* =====================index */
    .principal{
        .principal__noticias{
            .principal__noticias--title{
                .principal__noticias--title--text{
                    font-size: 1.5rem;
                }
            }
            .principal__noticias--contenedor{
                & h2{
                    font-size: 1.2rem;
                }
                & p{
                    font-size: 1rem;
                }
                & img{
                    width: 95%;
                }
            }
        }

        .principal__tabla{
            .principal__tabla--title{
                font-size: 1.2rem;
            }
            .principal__tabla--table tbody{
                font-size: 0.83rem;
                vertical-align: middle;
            }
        }
    }

    /* =====================noticias */
    .main__noticias{
        width: 95%;
    }
}

@media screen and (max-width: 970px) {
    /* =====================noticias */
    .main__noticias{
        width: 80%;
        grid-template-columns: 34% 33% 33%;
        grid-template-rows: repeat(3, min-content);
        grid-template-areas: 
        "noticiaPrincipal noticiaPrincipal noticiaPrincipal"
        "ubi1             ubi2             ubi3"
        "ubi4             ubi5             ubi6"
        ;
        .main__noticia__principal{
            & img{
                width: 70%;
                align-self: center;
            }
        }
    }
}

@media screen and (max-width: 880px) {
    /* =====================footer */
    footer{
        height: max-content;
    }
}

/* ------------TABLET------------ */
@media screen and (max-width: 768px) {
    /* =====================footer */
    footer{
        .footer__info{
            .footer__info--us{
                font-size: 0.8rem;
            }
            .footer__info--copyright{
                font-size: 0.6rem;
            }
            .footer__redes--img:hover{ /* uso este width para "cancelar" el hover */
                width: 3.6rem;
            }
        }
    }
    
    /* =====================general */
    .longName{
        display: none;
    }
    .shortName{
        display: inline;
    }

    /* =====================index */
    .principal{
        .principal__noticias{
            .principal__noticias--contenedor{
                grid-template-areas: 
                "title    title    img"
                "descript descript descript"
                ;
                & h2{
                    font-size: 1rem;
                }
                & p{
                    font-size: 0.8em;
                }
                & img{
                    width: 100%;
                    margin-bottom: 10%;
                }
            }
        }
        .principal__tabla{
            .principal__tabla--title{
                font-size: 1rem;
            }
            .principal__tabla--table tbody{
                font-size: 0.7rem;
                vertical-align: middle;
            }
        }
    }

    /* =====================noticias */
    .main__noticias{
        width: 90%;

        .main__noticia__principal--text{
            & h2{
                font-size: 1.5rem;
            }
            & p{
                font-size: 1rem;
            }
        }

        .main__noticia__card--text{
            & h3{
                font-size: 1rem;
            }
            & p{
                font-size: 0.8rem;
            }
        }
    }

    /* =====================resultados */
    .mainResultadosPage{
        .main__select{
            .main__select--carrera{
                .main__select--carrera--flag{
                    & h5{
                        font-size: 0.8rem;
                    }
                }
            }
        }
        .main__resultados{
            width: 90%;
            display: flex;
            flex-direction: column;

            .main__resultados--circuitName{
                border-top-left-radius: 0.8rem;
                border-top-right-radius: 0.8rem;
                border-bottom-left-radius: 0;
    
                .main__resultados--circuitName--text{
                    margin: 1rem;
                    text-align: center;
                    & h3{
                        font-size: 1.5rem;
                    }
                }
    
                .main__resultados--circuitName--img{
                    width: 30%;
                    margin-bottom: 1rem;
                    & img{
                        border-radius: 0.8rem;
                    }
                }
            }
        }
    }

    /* =====================posiciones */
    .main__posiciones__tabla{
        display: flex;
        flex-direction: column;
        align-items: center;

        .main__posiciones__tabla--pilotos{
            width: 95%;
        }

        .main__posiciones__tabla--constructores{
            width: 80%;
        }
        
        .tablaPos{
            vertical-align: middle;
        }
    }

    /* =====================login */
    .main__login__contenedor{
        .main__login__contenedor--img{
            width: 20%;
        }
        .main__login__contenedor--fieldset{
            width: 100%;
            .main__login__contenedor--fieldset--form{
                .main__login__contenedor--fieldset--form--submit{
                    background-color: red;
                }
            }
        }
    }

    /* =====================404 */
    .main__404{
        .main__404--info{
            .main__404--info--text{
                & h2{
                    font-size: 1.2rem;
                }
            }
            .main__404--info--link{
                & a{
                    & button{
                        width: 15rem;
                        height: 3.5rem;
                        & span{
                            display: inline;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 602px) {
    /* =====================index */
    .principal{
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, min-content);
        grid-template-areas: 
        "principalNoticias"
        "principalTabla"
        ;

        .principal__noticias{
            grid-area: principalNoticias;
            width: 100%;
            .principal__noticias--title{
                .principal__noticias--title--text{
                    font-size: 2rem;
                }
            }
            .principal__noticias--contenedor{
                & h2{
                    font-size: 1.5rem;
                }
                & p{
                    font-size: 1rem;
                }
            }
        }

        .principal__tabla{
            grid-area: principalTabla;
            width: 100%;
            height: min-content;
            margin: 0;

            .principal__tabla--title{
                font-size: 2rem;
            }
            .principal__tabla--table tbody{
                font-size: 1rem;
            }
        }
    }

    /* =====================404 */
    .main__404{
        width: 95%;
        .main__404--info{
            .main__404--info--text{
                & h2{
                    font-size: 1.2rem;
                }
                & h2{
                    font-size: 1rem;
                }
            }
            .main__404--info--link{
                & a{
                    & button{
                        width: max-content;
                        font-size: 0.8rem;
                        & span{
                            display: inline;
                        }
                    }
                }
            }
        }
        .main__404--img{
            width: 100%;
            .main__404--imgStyle{
                width: 100%;
            }
        }
    }
}

/* ------------MOBILE L------------ */
@media screen and (max-width: 425px) {
    /* =====================footer */
    footer{
        .footer__info{
            .footer__info--us{
                font-size: 0.6rem;
                color: rgb(251, 251, 255);
                margin-left: 1rem;
            }
            .footer__info--copyright{
                font-size: 0.5rem;
            }
        }

        .footer__redes{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: repeat(2, min-content);
            grid-template-areas:
            "ig  tw"
            "wpp fb"
            ;
            .ig{
                grid-area: ig;
            }
            .tw{
                grid-area: tw;
            }
            .wpp{
                grid-area: wpp;
            }
            .fb{
                grid-area: fb;
            }
            .footer__redes--img{
                padding: 0.5rem;
                width: 2.5rem;
            }
            .footer__redes--img:hover{ /* uso este width para "cancelar" el hover */
                width: 2.5rem;
            }
        }
    }

    /* =====================index */
    .principal{
        .principal__noticias{
            .principal__noticias--title{
                .principal__noticias--title--text{
                    font-size: 1.5rem;
                }
            }
            .principal__noticias--contenedor{
                & h2{
                    font-size: 1rem;
                }
                & p{
                    font-size: 0.8rem;
                }
                & img{
                    width: 95%;
                }
            }
        }

        .principal__tabla{
            .principal__tabla--title{
                font-size: 1.5rem;
            }
            .principal__tabla--table tbody{
                font-size: 0.7rem;
            }
        }
    }

    /* =====================noticias */
    .main__noticias{
        display: flex;
        flex-direction: column;
        .main__noticia__principal{
            & img{
                width: 100%;
            }
        }
        .main__noticia__card--text h3{
            margin-top: 2%;
            margin-bottom: 7%;
        }
    }

    /* =====================resultados */
    .mainResultadosPage{
        .main__select{

            .main__select--title{
                .main__select--title--text{
                    font-size: 1.3rem;
                }
            }
            .main__select--carrera{
                .main__select--carrera--flag{
                    margin-right: 1rem;
                    width: 70px;
                    & a{
                        & img{
                            width: 100%;
                            margin-top: 20%;
                        }
                    }
                    & h5{
                        margin-top: 0.4rem;
                        font-size: 0.9rem;
                    }
                    & h6{
                        font-size: 0.8rem;
                    }
                }
            }
        }
        .main__resultados{
            height: 100%;
            .main__resultados--circuitName{
                .main__resultados--circuitName--img{
                    & img{
                        border-radius: 0.5rem;
                    }
                }
            }
            .main__resultados--tabla{
                &::-webkit-scrollbar{
                    height: 0.8rem;
                }
                .main__resultados--tabla--datos{
                    & thead{
                        font-size: 0.8rem;
                    }
                    & tbody{
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }

    /* =====================posiciones */
    .main__posiciones__tabla{
        .main__posiciones__tabla--pilotos{
            width: 100%;
        }
        .main__posiciones__tabla--constructores{
            width: 100%;
        }
    }

    /* =====================login */
    .main__login__contenedor{
        width: 80%;
        .main__login__contenedor--img{
            width: 30%;
        }
        .main__login__contenedor--fieldset{
            width: 100%;
            font-size: 0.8rem;
            .formTextSize{
                font-size: 0.8rem;
            }
        }
        .main__login__contenedor--link{
            font-size: 0.9rem;
        }
    }

    /* =====================404 */
    .main__404{
        width: 100%;
        flex-direction: column;
    }
}


/* ------------MOBILE M------------ */
@media screen and (max-width: 375px){
    /* =====================resultados */
    .main__select{
        margin: 5%;
    }
}


/* ------------MOBILE S------------ */
@media screen and (max-width: 320px){
    /* =====================index */
    .principal{
        .principal__noticias{
            .principal__noticias--contenedor{
                & h2{
                    font-size: 0.8rem;
                }
                & p{
                    font-size: 0.6rem;
                }
            }
        }
    }

    /* =====================resultados */
    .mainResultadosPage{
        .main__select{
            .main__select--title{
                width: 80%;
                .main__select--title--text{
                    font-size: 1rem;
                }
            }
            .main__select--carrera{
                .main__select--carrera--flag{
                    font-size: 0.1rem;
                }
            }
        }
        .main__resultados{
            .main__resultados--circuitName{
                .main__resultados--circuitName--img{
                    & img{
                        border-radius: 0.5rem;
                    }
                }
            }
        }
    }
}