/* Fondos de las tablas de resultados */
$fondoBahrein: url("../assets/imgs/bahrein--circuit.jpg");
$fondoArabia: url("../assets/imgs/jeddah--circuit.jpg");
$fondoAustralia: url("../assets/imgs/melbourne--circuit.jpg");
$fondoBaku: url("../assets/imgs/baku--circuit.jpg");
$fondoMiami: url("../assets/imgs/miami--circuit.jpg");
$fondoImola: url("../assets/imgs/imola--circuit.jpg");
$fondoMonaco: url("../assets/imgs/monaco--circuit.jpg");
